@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');


* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
.fade-appear {
  opacity: 0;
  z-index: 1;
  background-color: #006FA9 !important;

  transition: background-color 1000ms ease-in;
}

.fade-appear.fade-appear-active {
  background-color: black !important;
  opacity: 1;
  // transition: background-color 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 800ms ease-in;
}
a:focus {
	outline: none;
}
.intro-title {
	img {
		width: 20em;

	}
}

html, body, #container, .home-container {
	height: 100%
}
.content-wrapper {
	padding: 2em;
}
html {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	overflow: hidden;
}
body {
	height: 100%;
	overflow: auto;

}
.header-container {
	z-index: 99;
	width: 100%;
	color: white;
	height: 8em;
	position: relative;
}
.fixed-container {
	position: fixed;
	height: 5.5em;
}
.fixed {
	position: fixed;
	padding-top: 0.5em !important;
	width: 100%;
}
.resume-container {
	background-color: black;
	color: white;
}
.home-container {
	min-height: 100%;
	background-color: #006FA9;
}
.portfolio-container {
	background-color: white;
}

.header {
	height: 8em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4em;
	padding-top: 3em;
	ul {
		width: 30%;
		display: flex;
		justify-content: space-between;
		list-style-type: none;
		margin-right: 2.5rem;
		li {
			font-size: 18px;
			font-weight: 300;
			display: inline-block;
		}
		li:after {
			content: '';
			display: block;
			margin: auto;
			height: 2px;
			width: 0px;			
			background: transparent;
			transition: width .5s ease, background-color .5s ease;
		}
		li:hover:after {
			width: 80%;
			background: red;
		}
	}
	h1 {
		font-family: 'Julius Sans One', sans-serif;
		color: white;
		font-size: 4rem;
		margin-left: 3.5rem;
	}
}
#container > div {
	z-index: 1;
	height: 100%;
	> div {
		height: 100%;
		> div:last-child {
			min-height: 100%;
			z-index: 5;
		}
	}
}
.header-offset {
	padding-top: 8.2em;
}
h1 {
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	font-weight: 300;
}
.home-container {
	display: flex;
	flex-direction: column;
	.top-half, .bottom-half {
		display: flex;
		flex: 1
	}
	.top-half {
		position: relative;
		background: #E5D3BC;
		align-items: center;
		justify-content: space-evenly;
		animation: hue 60s infinite;
	}
	@keyframes hue {
	  from {
	    -webkit-filter: hue-rotate(0deg);
	  }
	  to {
	    -webkit-filter: hue-rotate(180deg);
	  }
	}
	@keyframes stable-hue {
	  from {
	    -webkit-filter: hue-rotate(0deg);
	  }
	  to {
	    -webkit-filter: hue-rotate(0deg);
	  }
	}
	.bottom-half {
		animation: hue 60s infinite;
		position: relative;
		background: #5A606B;
		justify-content: center;
		align-items: center;
	}
	.black-square {
		background-image: url('https://images.freecreatives.com/wp-content/uploads/2015/08/free-metal-texture-1.jpg')
	}
	.small {
		width: 11.5em;
		height: 11.5em;
	}
	.large {
		width: 16em;
		height: 16em;
	}
	.beige-square {
		margin-top: 3em;
		background: #E5D3BC;
	}
	.red-line {
		position: absolute;
		top: 1.9em;
		background: #FF393A;
		width: 45%;
		height: 0.5em;
		margin-left: 1%;
	}
	.vertical-red {
		position: absolute;
		animation: stable-hue 60s infinite;
		top: 0;
		width: 0.5em;
		height: 2em;
		background: #FF393A;
	}
	.one {
		left: 28.5%;
	}
	.two {
		left: 66.5%;
	}
	.three {
		left: 70.7%;
	}
	.vertical-violet {
		position: absolute;
		bottom: 0;
		width: 0.5em;
		background: #FF393A;
	}
	.four {
		left: 28.5%;
		height: 25%;
	}
	.five {
		left: 66.5%;
		height: 14%;
	}
	.six {
		left: 70.7%;
		height: 14%;
	}
	.connector-container {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}
	.connector-container {
		
	}
}

